{% extends 'layout/basic.html' %}

{% block title %}List of Books :: Catalog{% endblock %}

{% block content %}
    <h1>Books</h1>
    <div class="row row-cols-1 row-cols-md-5 g-4">
    {% if book_list %}
    {% for book in book_list %}
    <div class="col">
        <div class="card">
            {% if book.pic %}
            <img src="{{ book.pic.url }}" class="card-img-top" alt="hello">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h5>
                <p class="card-text"><a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
                <p class="card-text"><a href="{{ book.seria.get_absolute_url }}">{{ book.seria }}: {{ book.get_release_number_display }}</a>
                </p>
                <p>
                    {% for genre in book.genre.all %}
                    <a href="{% url 'by_genre' genre.pk %}">{{ genre.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>{{ book.price }} {{ book.currency }}</p>
                <p><a href="{{ book.get_absolute_url }}" class="btn btn-primary">Follow</a></p>
            </div>
        git Publishing
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p>There are no books in the library.</p>
    {% endif %} 
{% endblock %}
