{% extends 'layout/basic.html' %}

{% block title %}View Author Details :: Reference book{% endblock %}

{% block content %}
    <h1>
        Author:: {{ author.first_name }}, {{ author.last_name }} - 
        {{ author.date_of_birth }} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}
    </h1>
    <p><strong>Country of Birth:</strong> {{ author.country_of_birth }}</p>    
    <p><strong>Biography:</strong> {{ author.biography }}</p>
    <p>
        <a href="{% url 'add-author' %}">
            <button 
            type="button" class="btn btn-dark"><i class="bi bi-file-earmark-plus">ADD AUTHOR</i>
            </button>
        </a> 
        <a href="{% url 'edit-author' author.pk %}">
            <button 
            type="button" class="btn btn-dark"><i class="bi bi-file-earmark-plus">EDIT AUTHOR</i>
            </button>
        </a>
        <a href="{% url 'delete-author' author.pk %}">
            <button 
            type="button" class="btn btn-dark"><i class="bi bi-file-earmark-plus">DELETE AUTHOR</i>
            </button>
        </a>
    </p>

{% endblock %}
