{% extends 'layout/basic.html' %}


{% block content %}    
{% for book_str in book_obj %}
<div>
    <h2>{{ book_str.name }}</h2>
    <p>{{ book_str.original_name }}</p>
    <p>{{ book_str.image }}</p>
    <p>{{ book_str.author }}</p>
    <p>{{ book_str.country }}</p>
    <p>{{ book_str.language }}</p>
    <p>{{ book_str.seria }}</p>
    <p>{{ book_str.release_number }}</p>
    <p><a href="{% url 'by_genre' book_str.genre.pk %}">{{ book_str.genre.name }}</a></p>
    <p>{{ book_str.publishing_house }}</p>
    <p>{{ book_str.release_date }}</p>
    <p>{{ book_str.page }}</p>
    <p>{{ book_str.isbn }}</p>
    <p>{{ book_str.price }} {{ book_str.currency }}</p>
    <p>{{ book_str.description }}</p>
</div>
{% endfor %}
{% endblock %}
