{% extends 'layout/basic.html' %}

{% block title %}{{ current_genre.name }} :: Current Genre{% endblock %}

{% block content %}
<h2>Current Genre :: {{ current_genre.name }}</h2>
{% for book in book_list %}
<div>
    <h2>{{ book.title }} ({{ book.author }})</h2>
    <p>
        {{ book.seria }}
        {{ book.release_number }}
    </p>
    <p>
        {% for genre in book.genre.all %}
        <a href="{% url 'by_genre' genre.pk %}">{{ genre.name }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>{{ book.price }} {{ book.currency }}</p>
</div>
{% endfor %}
{% endblock %}
