{% extends 'layout/basic.html' %}


{% block content %}    
{% for book in book_list %}
<div>
    <h2>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> <a href="{{ book.author.get_absolute_url }}">({{ book.author }})</a>
    </h2>
    <p>
        <a href="{{ book.seria.get_absolute_url }}">
        {{ book.seria }}
        </a>
        {{ book.release_number }}
    </p>
    <p>
        {% for genre in book.genre.all %}
        <a href="{% url 'by_genre' genre.pk %}">{{ genre.name }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>{{ book.price }} {{ book.currency }}</p>
</div>
{% endfor %}
{% endblock %}
