{% extends 'layout/basic.html' %}

{% block title %} Order list {% endblock %}

{% block content %}
<form action="{% url 'update-cart' %}" method="get">
<table class="table">
    <tr>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Delete</td>
    </tr>
    {% for item in cart.goods.all %}
    <tr>
        <td>{{ item.book.title }}</td>
        <td><input type="number" name="good_{{item.pk}}" id="" value="{{ item.quantity }}" min="0" step="1"></td>
        <td>{{ item.price }}</td>
        <td><a href="{% url 'delete-from-cart' item.pk %}" class="bi bi-trash"></a></td>
    </tr>
    {%endfor%}
    <tr>
        <td colspan="2">Total price</td>
        <td>{{ cart.total_price }}</td>
    </tr>
</table>
<input type="submit" name="action_type" value="Update" class="btn btn-success">
<br>
    <div>
        <h2>Please fill delivery fields:</h4><br>
        <h3> Full name </h3>
        <input type="text" class="form-control me-2" placeholder="first name, last name" name="full_name" id=""><br>
        <h3> Phone number </h3>
        <input type="tel" class="form-control me-2" placeholder="+375(XX)XXX-XX-XX" name="phone" id=""><br>
        <h3> Full address </h3>
        <input type="text" class="form-control me-2" placeholder="enter street, building, city, region" name="delivery_address" id=""><br>
        <h3> Commets to your order </h3>
        <input type="text" class="form-control me-2" placeholder="your comments" name="comment" id=""><br>
        <input type="submit" name="action_type" value="Order" class="btn btn-warning">
    </div>
</form>
{% endblock content %}
